body {
    background-color: #303030;
}

.main {
        width: 95%;
    margin: 0 auto;

}
.container {
    background-color: #d0d0d0;
  padding: 1px;
  max-width: 500px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}

h1, h2, h3, h4, h5 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

details {
    color: #000;
}
a, p, li {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
dd {	
	color: #000;
	    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
dt {	
	color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
	font-weight: bold;
}
